<nav class="navbar navbar-expand navbar-dark bg-dark ">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigazion">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <a class="navbar-brand " href="javascript:void(0)">Brand</a>
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-current="page" [routerLink]="['/post-attivi']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Postattivi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-current="page" [routerLink]="['/post-inattivi']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Postinattivi</a>
            </li>
        </ul>
    </div>
    </div>

</nav>
